<div class="row">
    <div class="col-md-12">
        <h1>Login</h1>
    </div>
</div>

<form #loginForm="ngForm" novalidate
(ngSubmit) = "submitLogin(loginForm.value)">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <div>
                    <label>User Name</label>
                    <em *ngIf="(loginForm.controls.userName?.touched || mouserOverLogin) && loginForm.controls.userName?.invalid">*Required</em>
            </div>
                <input type="text" (ngModel) = "userName" required
                name="userName" placeholder="username"/>
            </div>
        </div>
    </div>
    <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <div>
                        <label>Password</label>
                        <em *ngIf="(loginForm.controls.password?.touched || mouserOverLogin ) && loginForm.controls.password?.invalid">*Required</em>
                    </div>
                    <input type="text" name="password" required
                    (ngModel) = "password" placeholder="password"/>
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-md-4">
                    <span (mouseenter)="mouserOverLogin = true" (mouseleave)="mouserOverLogin= false">
                            <button class="btn btn-primary" 
                            [disabled] = "loginForm.invalid"
                             type="submit">Save</button>
                    </span>
                    
                    <button class="btn btn-primary" type="button">Cancel</button>
                </div>
            </div>
</form>
<div class="row" style="display:none">
        loginForm.controls.userName.touched : {{loginForm.controls.userName?.touched}}<br/>
        loginForm.controls.userName.untouched : {{loginForm.controls.userName?.untouched}}<br/>
        loginForm.controls.userName.pristine : {{loginForm.controls.userName?.pristine}}<br/>
        loginForm.controls.userName.dirty : {{loginForm.controls.userName?.dirty}}<br/>
        loginForm.controls.userName.invalid : {{loginForm.controls.userName?.invalid}}<br/>
        loginForm.controls.userName.valid : {{loginForm.controls.userName?.valid}}<br/>

</div>